<h1>Editing question</h1>

<% form_for(@question) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :entry_id %><br />
    <%= f.text_field :entry_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :answered %><br />
    <%= f.check_box :answered %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @question %> |
<%= link_to 'Back', questions_path %>