<p>
  <b>Entry:</b>
  <%=h @question.entry_id %>
</p>

<p>
  <b>User:</b>
  <%=h @question.user_id %>
</p>

<p>
  <b>Answered:</b>
  <%=h @question.answered %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>