
<a name="<%= comment.id %>" ></a>
<%= sanitize_html(comment.body) %><br />

<div class="fpp_footer">
  posted by <%= link_to h(comment.created_by), :controller => 'users',
                                            :action => 'show',
                                            :params => { :user_name => comment.created_by } %> 
  at <%= h(comment.created_at.strftime("%I:%M%P on %B %d")) %>
  <% if @current_user %>
    |
    <% flag = false %>
    <% if @favcomed_by.blank? %>
      <span id="comment_<%= comment.id %>">
        <%= link_to_remote "+", :url => { :action => 'add_favcom',
                                :comment_id => comment.id,
                                :user_id => @current_user.id },
                                :update => 'comment_' + comment.id.to_s %>
      </span>
      <% flag = true %>
    <% else %>
      <% for favcom in @favcomed_by %>
        <% if favcom.comment == comment %>
          <%= pluralize(h(comment.favcoms.count), "favorite")	 %>
          <% flag = true %>
          <% break %>
        <% end %>
      <% end %>
    <% end %>
      
    <% if flag == false %>
      <span id="comment_<%= comment.id %>">
        <%= link_to_remote "+", :url => { :action => 'add_favcom',
                                :comment_id => comment.id,
                                :user_id => @current_user.id },
                                :update => 'comment_' + comment.id.to_s %>
      </span>      
    <% end %>
  <% end %>
	
</div>
<br />
