<p>
  <h2><%= link_to_unless_current h(entry.title), entry %></h2>
</p>

<p>
  <%= simple_format h(entry.body) %>
  <div class="fpp_footer">
    Posted <%= time_ago_in_words(entry.created_at) %> ago |
    <%= link_to "Comments", entry %> (<%= h(entry.comments_count) %>)
  </div>
</p>
