<div class="entry_container">
  <%= sanitize_html(entry.body) %>
  
  <div class="fpp_footer">
    "<strong><%= entry.title %></strong>" |
    posted by <%= link_to h(entry.created_by), :controller => 'users',
                                                :action => 'show',
                                                :params => { :user_name => entry.created_by } %> 
    at <%= h(entry.created_at.strftime("%I:%M%P")) %> |
    <%= link_to "Comments", entry %> (<%= h(entry.comments_count) %>)

    <% if session[:user_id] %>
      |
      <% flag = false %>
      <% for favorite in @favored_by %>
        <% if favorite.entry == entry %>
          <%= pluralize(h(entry.favorites.count), "favorite")	 %>
          <% flag = true %>
          <% break %>
        <% end %>
      <% end %>
      
      <% if flag == false %>
        <%= link_to "+",  :controller => 'favorites', 
                          :action => 'new',
                          :params => { :entry => entry, :user => session[:user_id] } %>      
      <% end %>
    <% end %>
  </div>
</div>
