<h2>Edit your post</h2>

<div class="new_entry">
  <% form_for(@entry) do |f| %>
    <%= f.error_messages %>

    <%= f.label :category %><br />
    <%= f.radio_button :category, :post, :checked => true %>post<br />
    <%= f.radio_button :category, :question %>question<br />
    <%= f.radio_button :category, :quote %>quote (no links; from a book, class, etc)<br />
    <br />

    <%= f.label :title %><br />
    <%= f.text_field :title %><br />
    <br />

    <%= f.label :body %><br />
    <%= f.text_area :body, :class => "mceEditor" %><br />
    <br />

    <%= f.label :more_body %> 
    - <strong>optional</strong><br />
    <div class="fpp_footer">
      Add more detail about your post if necessary.
      This will be the "more inside" area of your post.
    </div>
    <%= f.text_area :more_body, :class => 'mceEditor' %>
    <br />
    
    <%= f.label :tag_list %>
    <div class="fpp_footer">
      Be sure to add a descriptive tag to your post,
      so other members can find it.
      <strong>Separate tags with a comma.</strong>
    </div>
    <%= f.text_field :tag_list, :size => 72 %><br />
    <br />

    <%= f.submit 'Update' %>
  <% end %>
</div>
