<% @entry_days.keys.each do |day| %>
  <h2><%= day %></h2>
  <% for entry in @entry_days[day] %>
      
    <% if entry.category == 'question' %>
      <div class="question_container">
    <% elsif entry.category == 'quote' %>
      <div class="quote_container">
    <% else %>
      <div class="entry_container">
    <% end %>
        <%= sanitize_html(entry.body) %>
        <% unless entry.more_body.blank? %>
          <span class="fpp_footer">
            [<%= link_to "more inside", entry %>]
          </span>
        <% end %>
        <div class="fpp_footer">
          "<strong><%= entry.title %></strong>" |
          posted by <%= link_to h(entry.created_by), :controller => 'users',
                                                     :action => 'show',
                                                     :params => { :user_name => entry.created_by } %> 
          at <%= h(entry.created_at.strftime("%I:%M%P")) %> |
          
          <% if entry.category == 'question' %>
            <%= link_to pluralize(h(entry.comments_count), " Answers"), entry %>
          <% else %>
            <%= link_to pluralize(h(entry.comments_count), " Comment"), entry %>
          <% end %>
          

          <% if current_user %>
            |
            <% flag = false %>
            <% for favorite in @favored_by %>
              <% if favorite.entry == entry %>
                <%= pluralize(h(entry.favorites.count), "favorite")	 %>
                <% flag = true %>
                <% break %>
              <% end %>
            <% end %>
            
            <% if flag == false %>
            <span id="favorite_<%= entry.id %>">
              <%= link_to_remote "+",  :url => { :action => 'add_favorite',
                                       :entry_id => entry.id,
                                       :user_id => current_user.id },
                                       :update => 'favorite_' + entry.id.to_s %>
            </span>
            <% end %>
          <% end %>
          
        </div>
      </div>
      <br />
  <% end %>
<% end %>

<div class="footer">
  <%= will_paginate @entries %>
</div>

