  <%= link_to '<- Back', entries_path %><br />
<h3>New entry</h3>

<div class="new_entry">
  <% form_for(@entry) do |f| %>
    <%= f.error_messages %>

    <%= f.label :category %><br />
    <%= f.radio_button :category, :post, :checked => true %>post<br />
    <%= f.radio_button :category, :question %>question<br />
    <br />
    
    <%= f.label :title %><br />
    <%= f.text_field :title, :size => 72 %><br />
    <br />

    <%= f.label :body %><br />
    <%= f.text_area :body, :class => 'mceEditor' %>
    <br />

    <%= f.label :tag_list %><br />
    <%= f.text_field :tag_list, :size => 72 %><br />
    <br />
    
    <%= f.submit 'Create' %>

    <%= f.hidden_field :created_by, :value => session[:user_name] %>
    
  <% end %>

</div>
