<h2><%= h(@entry.title) %></h2>
<%= sanitize_html(@entry.body) %>

<% unless @entry.more_body.blank? %>
  <hr>
  <%= sanitize_html(@entry.more_body) %>
<% end %>

<div class="fpp_footer">
  <strong><%= @entry.title %></strong> |
  posted by <%= link_to h(@entry.created_by), :controller => 'users',
                                                :action => 'show',
                                                :params => { :user_name => @entry.created_by } %> 
  at <%= h(@entry.created_at.strftime("%I:%M%P")) %> |
  
  
  <% if session[:user_name] == @admin.name %>
    <%= link_to 'edit', edit_entry_path(@entry) %> |
    <%= link_to 'remove', @entry, :method => :delete, :confirm => "Are you sure?" %> |
  <% end %>
  
  
  <% if @entry.tags.blank? %>
    no tags for this post
  <% else %>
    tags: 
    <% @entry.tags.each do |tag| %>
      <%= link_to tag.name, :controller => 'tags', :action => 'show', :query => tag.name %>
    <% end %>
  <% end %>
  
  <% if session[:user_id] %>
    |
    <% flag = false %>
    <% for favorite in @favored_by %>
      <% if favorite.entry == @entry %>
        <%= pluralize(h(@entry.favorites.count), "favorite")	 %>
        <% flag = true %>
        <% break %>
      <% end %>
    <% end %>
    
    <% if flag == false %>
      <%= link_to "+",  :controller => 'favorites', 
                        :action => 'new',
                        :params => { :entry => @entry, :user => session[:user_id] } %>      
    <% end %>
  <% end %>
</div>

<div class="comments">
  <% if @entry.comments.blank? %>
	  no comments to display
	<% else %>
  	<%= render :partial => @entry.comments %>
  <% end %>
  
  <div class="new_comments">
    <% if session[:user_id] %>
      <% form_for [@entry, Comment.new], :html => { :id => 'new_comment' } do |f| %>
      	
        <%= f.label :body, "New Comment" %><br />
      	<%= f.text_area :body, :class => 'mceEditor' %><br />
      	
      	<%= f.submit 'add comment' %>
      	<%= f.hidden_field :created_by, :value => session[:user_name] %>
      <% end %>
    <% end %>
    
  </div>
  
</div>
  
