<h1>Gunga Galunga!</h1>

<% for each in @entries %>
  <div >
    <%= each.created_at.strftime("%I:%M%P on %a, %b %d %Y ") %>
    <%= link_to h(each.title), each %>
    <%= each.comments_count %> comments
  </div>
<% end %>

<br /><br />
<%= link_to 'home', entries_path %> |
<%= link_to 'new entry', new_entry_path %> |
<%= link_to 'logout', :controller => 'admin', :action => 'logout' %> |
logged in as <%= link_to session[:user_name],
                      :controller => 'admin', :action => 'index' %>
