<br />
<% form_tag do %>
  
  <div>
    <%= text_field_tag :name, params[:name] %>
    <label for="name">*name</label>
  </div>
  <br />
  <div>
    <%= password_field_tag :password, params[:password] %>
    <label for="password">*password</label>
  </div>
  <br />
  <div>
    <%= submit_tag "Login"%>
  </div>
<% end %>

<br /><br />
<div>
  <%= link_to "home", :controller => 'entries', :action => 'index' %> |
  <%= link_to "register", :controller => 'users', :action => 'new' %> |
  <%= link_to "forgot password" %>
</div>
