<h2>favorite comments for <%= link_to @user.login, :controller => 'users', 
                            :action => 'show', 
                            :user_name => @user.login %></h2>
<% for favorite in @user_favcoms %>
  <div class="entry_container">
    <%= sanitize_html(favorite.comment.body) %>
    <div class="fpp_footer">
      posted by <%= link_to h(favorite.comment.created_by), :controller => 'users',
                                                            :action => 'show',
                                                            :params => { :user_name => favorite.comment.created_by } %> 
      on <%= h(favorite.comment.created_at.strftime("%B %d")) %> in
      <%= link_to favorite.comment.entry.title, :controller => 'entries',
                                       :action => 'show',
                                       :id => favorite.comment.entry_id,
                                       :anchor => favorite.comment.id %> 
      <% if @current_user and @current_user.login == @user.login %>
        |
        [<%= link_to 'remove favorite', favorite, :confirm => 'Are you sure?', :method => :delete %>]
      <% end %>     
    </div>
  </div>
  <br />
<% end %>

<div class="footer">
  <%= will_paginate @user_favcoms %>
</div>
