
<h1>New user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  
  <div>
    <%= f.text_field :name, :size => 40 %>
    <%= f.label :name %><br />
  </div>
  <div>
    <%= f.password_field :password, :size => 40 %>
    <%= f.label :user_password, 'Password' %><br />
  </div>
  <div>
    <%= f.password_field :password_confirmation, :size => 40 %>
    <%= f.label :user_password_confirmation, 'Cofirm' %><br />
  </div>
  <br />
  <div>
    <%= f.submit 'Create', :class => "submit" %>
  </div>
   
<% end %>
<br />

<%= link_to 'home', :controller => 'entries', :action => 'index' %>
