<h2>New user</h2>
<div class="entry_container">
  <% form_for(@user) do |f| %>
    <%= f.error_messages %>
    
    <%= f.text_field :login, :size => 40 %>
    <%= f.label :login %><br />
    
    <%= f.text_field :email, :size => 40 %>
    <%= f.label :email %><br />

    <%= f.password_field :password, :size => 40 %>
    <%= f.label :password, 'Password' %><br />

    <%= f.password_field :password_confirmation, :size => 40 %>
    <%= f.label :password_confirmation, 'Confirm Password' %><br />
    <br />

    <%= f.time_zone_select :time_zone %>
    <%= f.label :time_zone %>
    <br /><br />

    <%= f.submit 'Create', :class => "submit" %> 
  <% end %>
</div>
