<% if @current_user and @current_user.id == @admin.id %>
  <%= link_to 'edit profile', edit_user_path(@user) %>
<% end %>

<div class="profile_container">

  <% unless @user.full_name.blank? %>
    <%= sanitize_html(@user.full_name) %> aka
  <% end %>
  
  <%=h @user.name %>
  <br />
  
  <% if @current_user and @current_user.name == @user.name %>
    <%= sanitize_html(@user.email) %>
  <% end %>
  <br /><br />
  
  <% unless @user.photo_file_name.blank? %>
    <%= image_tag @user.photo.url(:small) %>
    <br /><br />
  <% end %>
  
  <% unless @user.about.blank? %>
    "<%= sanitize_html(@user.about) %>"
  <% end %>
  <br /><br />
  
  <% if @user_entries.count == 0 %>
    no posts
  <% else %>
    <%= link_to @user_entries.count,  :controller => 'users', 
                                      :action => 'posts',
                                      :user_name => @user.name %> posts
  <% end %>
  <br />
  <% if @user_comments.count == 0 %>
    no comments
  <% else %>
    <%= link_to @user_comments.count, :controller => 'users',
                                      :action => 'comments',
                                      :user_name => @user.name %> comments
  <% end %>
  <br />
  <% if @user_favorites.count == 0 %>
    no favorites
  <% else %>
    <%= link_to @user_favorites.count, :controller => 'users',
                                       :action => 'favorites',
                                       :user_name => @user.name %> favorite posts
  <% end %>
  <br />
  <% if @user_favcoms.count == 0 %>
    no favorites
  <% else %>
    <%= link_to @user_favcoms.count, :controller => 'users',
                                     :action => 'favcoms',
                                     :user_name => @user.name %> favorite comments
    
  <% end %>
  
</div>

<div class="footer">
</div>
