<% if current_user and current_user.id == @user.id %>
  <%= link_to 'edit profile', edit_user_path(@user) %>
<% end %>

<div class="profile_container">

  <% unless @user.full_name.blank? %>
    <%= sanitize_html(@user.full_name) %> aka
  <% end %>
  
  <%=h @user.login %>
  <br />
  
  <% if current_user and current_user.login == @user.login %>
    <%= sanitize_html(@user.email) %>
  <% end %>
  <br /><br />
  
  <% unless @user.photo_file_name.blank? %>
    <%= image_tag @user.photo.url(:small) %>
    <br /><br />
  <% end %>
  
  <% unless @user.about.blank? %>
    "<%= sanitize_html(@user.about) %>"
  <% end %>
  <br /><br />
  
  <% if @user_entries.count == 0 %>
    no posts
  <% else %>
    <%= link_to pluralize(@user_entries.count, "post"),  
                                      :controller => 'users', 
                                      :action => 'posts',
                                      :user_name => @user.login %>
  <% end %>
  <br />
  <% if @user_comments.count == 0 %>
    no comments
  <% else %>
    <%= link_to pluralize(@user_comments.count, "comment"), 
                                      :controller => 'users',
                                      :action => 'comments',
                                      :user_name => @user.login %>
  <% end %>
  <br />
  <% if @user_favorites.count == 0 %>
    no favorite posts
  <% else %>
    <%= link_to pluralize(@user_favorites.count, "favorite post"), 
                                       :controller => 'users',
                                       :action => 'favorites',
                                       :user_name => @user.login %>
  <% end %>
  <br />
  <% if @user_favcoms.count == 0 %>
    no favorite comments
  <% else %>
    <%= link_to pluralize(@user_favcoms.count, "favorite comment"), 
                                     :controller => 'users',
                                     :action => 'favcoms',
                                     :user_name => @user.login %>
    
  <% end %>
  
</div>

<div class="footer">
</div>
