<h2>Favorite Comments</h2>

<%= link_to "favorite posts" , :controller => 'favorites', :action => 'index' %> |
<%= link_to "favorite comments", :controller => 'favcoms', :action => 'index' %> |
<%= link_to "most comments", :controller => 'comments', :action => 'index' %>
<br /><br />

<% @comments.each do |comment| %>

    <div class="entry_container">
      <%= sanitize_html(comment.body) %>
      <div class="fpp_footer">
        in <strong>"<%= comment.entry.title %>"</strong> |
        posted by <%= link_to h(comment.created_by), :controller => 'users',
                                                     :action => 'show',
                                                     :params => { :user_name => comment.created_by } %> 
        on <%= h(comment.created_at.strftime("%B %d")) %> |
        
        <%= pluralize(h(comment.favcoms.count), "favorite")	 %>
        
        <% if session[:user_id] %>
        
          <% flag = false %>
          <% for favcom in @favcomed_by %>
            <% if favcom.comment == comment %>
              <% flag = true %>
              <% break %>
            <% end %>
          <% end %>
        
          <% if flag == false %>
            |
            <%= link_to "+",  :controller => 'favcoms', 
                              :action => 'new',
                              :params => { :entry => entry, :user => session[:user_id] } %>      
          <% end %>
        <% end %>
      </div>  
    </div>
    
    <br />

<% end %>

<div class="footer">
  <%= will_paginate @comments %>
</div>
