<h2>Add the following comment to your favorites?</h2>

<%= sanitize_html(@comment.body) %>
<br /><br />

<% form_for(@favcom) do |f| %>
  <%= f.error_messages %>
  
  <%= f.submit 'Yep, add to favorites!' %>
  
  <%= f.hidden_field :comment_id, :value => params[:comment] %>
  <%= f.hidden_field :user_id, :value => params[:user] %>
  
<% end %>
