<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>"breathe, you are online"</title>
  <%= stylesheet_link_tag 'scaffold' %>
	<%= auto_discovery_link_tag :atom, entries_path(:atom) %>
	<%= javascript_include_tag :all %>
	<%= include_tiny_mce_if_needed %>
	<script src="javascripts/prototype.js" type="text/javascript"></script>
	<script src="javascripts/scriptaculous.js" type="text/javascript"></script>
</head>
<body>


<div class="container">
    
  <div class="header">
    <%= link_to 'MettaFilter', :controller => 'entries', :action => 'index' %>
    <span class="fpp_footer">
    | <%= link_to 'questions', :controller => 'questions', :action => 'index' %>
    | <%= link_to 'quotes', :controller => 'quotes', :action => 'index' %>
    </span>
  </div>

  <div class="main">
    <%= link_to 'home', entries_path %> |
      <% if current_user %>
        <%= link_to 'new entry', new_entry_path %> |
        logged in as <%= link_to current_user.login,
                                          :controller => 'users',
                                          :action => 'show',
                                          :params => { :user_name => current_user.login } %> |
        <%= link_to 'logout', logout_path %>
        
      <% else %>
        <%= link_to 'login', login_path %> |
        <%= link_to 'register', new_user_path %>
      <% end %>
    <br /><br />

    <div>
      <% if flash[:notice] %>
        <div id="flash"><%= flash[:notice] %></div>
      <% end %>
      
      <%= yield %>
    </div>

  </div>
  
  <div class="sidehead">
    <%= link_to 'tags', :controller => 'tags', :action => 'index' %> |
    <%= link_to 'sort', :controller => 'favorites', :action => 'index' %>
    
    <br /><br />
  </div>

  <div class="sidebar">
    <h4>Sidebar says...</h4>
    <% @sidebar.each do |entry| %>
        <div class="sidebar_entry">
          <strong><%= h(entry.created_at.strftime("%B %d")) %></strong><br />
          <%= sanitize_html(entry.body) %>
        </div>
    <% end %>
  </div>
    
</div>

<br clear="all">
<div class="the_bottom">
  the footer
</div>

</body>
</html>
