<h2>Create a new sequence!</h2>
<br />
<br />
<br />

<style type="text/css">
  div#poser { height: 500px; width: 800px; }
  div#next_pose {
    width: 160px;
    height: 200px;
    background: #fff;
    border: 5px solid #ccc;
    padding: 10px; }
  div#droparea.hover {
    border: 5px dashed #aaa;
    background:#efefef; }
  div#pose_selection {
    width: 800px;
    height: 500px;
  }
</style>

<div class="poser_container" id="poser">

  <div id="next_pose">Click on a pose to add it here!</div>

  <div id="pose_selection">
    <%= image_tag "pose1.jpg" %>
    <%= image_tag "pose2.jpg" %>
    <%= image_tag "pose3.jpg" %>
    <%= image_tag "pose4.jpg" %>
  </div>
  
</div>


<script type="text/javascript">
  window.onload = function() {
    
  }
</script> 

<br />
<br />
<br />
<br />

<% form_for(@sequence) do |f| %>
  <%= f.error_messages %>

  <%= f.label :title %><br />
  <%= f.text_field :title %><br />
  <br />
  
  <%= f.label :description %><br />
  <%= f.text_area :description, :class => 'mceEditor'%><br />
  <br />
  
  <%= f.submit 'create' %>
<% end %>


